doctype html
html
  head
    meta(charset="utf-8")
    title 방탄소년단 앨범공동구매 확인페이지
    link(rel="stylesheet" href="style.css")
    link(rel="stylesheet" href="webfont.css")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes")
  body
    #container
      .title
        img(src="" alt="1차 컴백앨범 공구 확인 페이지")
      .notice
        p 폼기준 29일 오후 8시까지 업데이트
        p 010-0000-0000 형태로 번호 입력해주세요.
      form(action='/search' method='get' accept-charset="utf-8")
        .mainForm
          p.inputTag
            input(type='text' name = 'name' class="input" placeholder='이름' required)
          p.inputTag
            input(type='text' name = 'phone' class="input" placeholder='번호' required)
        .link
          a(href="http://antzip.net/index.php?mid=notice&document_srl=11823" target="_blank") antzip
        .search
          p
            input(type='submit' class="search_btn")
