doctype html
html
  head
    meta(charset="utf-8")
    title 방탄소년단 앨범공동구매 확인페이지
    link(rel="stylesheet" href="style.css")
    link(rel="stylesheet" href="webfont.css")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes")
  body
    #container
      .title
        img(src="" alt="img")
      .notice notice
      form(action='/search' method='get' accept-charset="utf-8")
        .mainForm
          p.inputTag
            input(type='text' name = 'name' class="input" placeholder='이름' required)
          p.inputTag
            input(type='text' name = 'phone' class="input" placeholder='번호' required)
        .link
          a(href="http://antzip.net/" target="_blank") antzip
        .search
          p
            input(type='submit' class="search_btn")
