doctype html
html
  head
    meta(charset="utf-8")
    title 방탄소년단 앨범공동구매 확인페이지
    link(rel="stylesheet" href="style2.css")
    link(rel="stylesheet" href="webfont.css")
  body
    #container
      .title
      .notice
      .main
        .info
          p name
          p address
          p phone
          p price
      .link
        a(href="http://antzip.net/" target="_blank") antzip
      .previous
        p
          input(type='button' class='previous_btn' onclick="location.href='/'");
