doctype html
html
  head
    meta(charset="utf-8")
    title 방탄소년단 앨범공동구매 확인페이지
    link(rel="stylesheet" href="style2.css")
    link(rel="stylesheet" href="webfont.css")
  body
    #container
      .title title
      .notice notice
      form
        .main
          if check == false
            p.info 찾을 수 없습니다.
          else
            p.info name <br/> #{check.name}
            p.info address <br/> #{check.address}
            br
            br
            p.info phone <br/> #{check.phone}
            p.info price <br/> #{check.price}
        .link
          a(href="http://antzip.net/" target="_blank") antzip
        .previous
          p
            input(type='button' class="previous_btn" value="이전" onclick="location.href='/';")
